@{
    SetMeta("X-UA-Compatible", "IE=edge,chrome=1");
    Style.Include("http://fonts.googleapis.com/css?family=Lobster&subset=latin");
    Style.Include("site.css");
}
<header id="theader">
    <h1 id="logo">@WorkContext.CurrentSite.SiteName</h1>
	<nav id="usernav">
	    <ul>
        @if (WorkContext.CurrentUser != null) {
		    <li>@Html.ActionLink(WorkContext.CurrentUser.UserName, "ChangePassword", new { Controller = "Account", Area = "Orchard.Users" })</li>            
            if (AuthorizedFor(Orchard.Security.StandardPermissions.AccessAdminPanel)) {
			<li>@Html.ActionLink(T("Dashboard").ToString(), "Index", new {Area = "Dashboard", Controller = "Admin"})</li>
            }
			<li>@Html.ActionLink(T("Sign Out").ToString(), "LogOff", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = Context.Request.RawUrl }, new { rel = "nofollow" })</li>
        } else {
            <li>@Html.ActionLink(T("Sign In").ToString(), "LogOn", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = (Request.QueryString["ReturnUrl"] ?? Request.RawUrl) }, new { rel = "nofollow" })</li>
        }
	    </ul>
	</nav>
</header>
@Display(Model.Navigation)
<div id="wp">
    @Display(Model.Content)
</div>
<footer>
推荐使用 Chrome(谷歌浏览器) 或 Firefox 浏览器访问本站
<br>
Powered by @WorkContext.CurrentSite.SiteName @@2012
</footer>